<tr class = "round" width="100%">
<td id ="middle_area_col1" >
<%= link_to image_tag('/assets/Expressyourself.png') , sessions_path, :remote => true, :data => @id , :id => 'showSurvey'  %>
</td>
<td id ="middle_area_col2" >
   <%= link_to image_tag('/assets/Learn.png'),  sessions_path, :remote => true, :data => @id , :id => 'showSurvey'  %>
</td>
<td id ="middle_area_col3" >
   <%= link_to image_tag('/assets/Discuss.png') , sessions_path,  :remote => true, :data => @id , :id => 'showSurvey'  %>
</td>
<td id ="middle_area_col4" width="0%">  
</td>
</tr>