<tr>
<div id = "middle_area-col1" class = "round">
<%= render :partial => "middle_existingusercol1b4" %>
</div>

<div id = "middle_area_col2and3" class = "round">
<%= render :partial => "middle_area_column2and3" %> 
</div>

<div id = "middle_area_column4" class = "round">
<%= render :partial => "remaining" %>
</div>
</tr>
