<tr>
<div id = "middle_area_col1" >
<%= render :partial => "middle_existingusercol1" %>
</div>

<div id = "middle_area_col2and3">
<td id ="middle_area_col2"  >
<%= render :partial => "middle_existingusercol2" %> 
</td>
<td id ="middle_area_col3"  >
<%= render :partial => "middle_existingusercol3" %> 
</td>
</div>

<div id = "middle_area_col4">
<%= render :partial => "userpagenav" %>
</div>
</tr>