             <table><tr>
               <th>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus erat urna, pharetra id vulputate in, tristique et nibh. Quisque sed dui et libero porttitor congue. Pellentesque tellus libero, rhoncus eu mattis a, euismod vel leo. Donec molestie varius blandit. Aliquam suscipit ultricies nisi, sit amet ornare mauris adipiscing non. Fusce sodales arcu id velit pharetra et egestas turpis volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ut dui eros. Praesent sit amet aliquet metus. Quisque leo leo, dignissim vitae commodo quis, dignissim vitae diam</p>
               </th>
               <th>
               <%= render :partial => 'form' %>
               </th>
               <th>
               <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus erat urna, pharetra id vulputate in, tristique et nibh. Quisque sed dui et libero porttitor congue. Pellentesque tellus libero, rhoncus eu mattis a, euismod vel leo. Donec molestie varius blandit. Aliquam suscipit ultricies nisi, sit amet ornare mauris adipiscing non. Fusce sodales arcu id velit pharetra et egestas turpis volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque ut dui eros. Praesent sit amet aliquet metus. Quisque leo leo, dignissim vitae commodo quis, dignissim vitae diam</p>
               </th>
               </tr>
               </table>