<%= include_gon %>
<div id="content" class="clearfix">
<% @cat = Category.all %>
<% @user = User.find(@uid)  %>

<%= render :partial => 'layouts/user_profile' %>
          <div class="inner">
            <div class="top_area"> </div> <!-- top_area -->	             
              <p>Welcome <%=@user.email%> Drag the topics into the order of importance to you.</p>
               <div id="middle_area" > 
                <%= render :partial => 'middle_user' %>
               </div> 
	      <div id="find">
             <p>Where voters and politicians can discuss and learn about the issues for free with no advertising dollars getting in the way <br />
             Subscribe to RSS feeds to stay in touch with their latest votes. </p>
          </div>
    </div>   <!-- inner_area -->
</div>       <!-- content -->
