<div id="content" class="clearfix">
 
<div class="inner">
<div class="top_area">

 <h1>Login</h1>

<%= render :partial => 'formlogin' %>

<%= link_to 'Back', users_path %>
  </div><!-- top_area -->
  </div><!-- inner -->
</div> <!-- content --> 
