<tr>
  <td class="micropost">
    <span class="content"><%= @micropost.content %></span>
    <span class="timestamp">
      Posted <%=(@micropost.created_at) %> ago.
    </span>
  </td>
  <% user = micropost.user rescue User.find(@micropost.user_id) %>

  <td>
      <%= link_to "delete", micropost, :method => :delete,
                                       :confirm => "You sure?",
                                       :title => @micropost.content %>
    </td>
 </tr>