<div id="header" class="clearfix">

	<div class="bar">
		<p class="project">
		   VoteWise is a project of <a href="http://www.silentmonkeys.com/" target="_blank"> 
		   Silent Monkeys Inc. Silent Monkeys is a Not-for-Profit 501(c)(3) organization. 
		   We do not endorse any political party, candidate or legislation.</a>  
	</div>

<table width="100%">
<tr>
   <td width="30%">
     <%= render :partial => 'layouts/logo' %>
  </td>
  <td width="70%">
	<%= render :partial => 'layouts/headerpaths' %>
	</span>
  </td>
</tr>	  
</table>

<div class="tagline">
   	   <p>A non-profit, non-partisan public resource</p>

	          <div id ="logon" >
		   	<%= render :partial => 'formlogin' %>
		 <p>  <span style="color:yellow;">  ...or register </span> </p>
		   </div>
   	   
	</div>	  
      <div id="advanced" style="display: none;">
 
      </div>

</div> <!-- // header -->
             



